.header {

  background-color: black;
  color: aliceblue;
  /* width: 50px; */
  height: 50px;
}

.table-head {
  width: 1231px;
  border-collapse: separate;
  border-spacing: 56px 0px;
  margin-left: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.data-table {
  width: 1200px;
  /* margin-top: -100px; */
  border-collapse: separate;
  border-spacing: 73px 0px;
  margin-left: 100px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.order-header button {
  align-self: flex-end;
  margin-left: 900px;
  margin-top: 34px
}

.search-input {
  width: 250px;
  height: 30px;
  align-self: center;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.user-sidebar{
  background-color:#5861AE;
  margin-left: 10px;
  width:60px;
  height: 1000px;
  margin-top: -136px
}
.user-sidebar img{
  top: 119px;
  left: 50px;
  width: 22px;
  height: 22px;
  margin: 10px;
  align-self: center;
}